<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        * {
            font-size: 25px;
            font-family: "Courier New";
        }
        .displayBlock {
            display: block;
        }
        .displayInline {
            display: inline;
        }
        .col_300 {
            width: 200px;
            display: inline-block;
        }
        #content {
            width: 500px;
            height: 300px;
        }
    </style>

    <script>

        function validate() {
            var valid = true;

            if (!$("select[name='languageId']").val()) {
                $("#languageId_msg").text("Language cannot be empty!");
                valid = false;
            }
            else {
                $("#languageId_msg").empty();
            }

            if (!$("input[name='title']").val()) {
                $("#title_msg").text("Title cannot be empty!");
                valid = false;
            }
            else {
                $("#title_msg").empty();
            }

            if (!$("textarea[name='content']").val()) {
                $("#content_msg").text("Content cannot be empty!");
                valid = false;
            }
            else {
                $("#content_msg").empty();
            }

            console.log("Tried to validate 2! " + valid);
            return valid;
        }



    </script>

</head>
<body>

<section layout:fragment="content">

    <form action="create" onsubmit="return validate()" th:object="${form}" method="post">

        <div>
            <label for="languageId" class="col_300">Language</label>
            <select th:field="*{languageId}">
                <option value="">Select the language</option>
                <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.name}"></option>
            </select>
        </div>
        <div id="languageId_msg" class="displayBlock"></div>


        <div>
            <label for="isPublic" class="col_300">Public</label>
            <input type="checkbox" th:field="*{isPublic}" />
        </div>


        <div>
            <label for="title" class="col_300">Title</label>
            <input th:field="*{title}" type="text"/>
        </div>
        <div id="title_msg" class="displayBlock"></div>

        <div>
            <label for="reference" class="col_300">Reference</label>
            <input type="text" th:field="*{reference}" />
        </div>

        <div>
            <label for="content">Content</label><div id="content_msg"></div>
        </div>
        <div>
            <textarea style="width: 80%" th:field="*{content}"></textarea>
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>

    </form>
</section>
</body>
</html>
