<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        label {
            display: block;
        }
    </style>

    <script>

        function validate() {
            var valid = true;

            if (!$("input[name='language']").val()) {
                $("language_msg").text("Language cannot be empty!");
                valid = false;
            }

            if (!$("input[name='title']").val()) {
                $("language_msg").text("Title cannot be empty!");
                valid = false;
            }

            console.log("Tried to validate!");
            return valid;
        }



    </script>

</head>
<body>
<form action="create" onsubmit="return validate()">

    <label>Language</label>
    <select name="languageId">
        <option value="">Select the language</option>
        <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.name}"></option>
    </select>
    <div id="language_msg"></div>

    <label>Title</label>
    <input name="title" type="text" />
    <div id="title_msg"></div>

    <label>Reference</label>
    <input name="reference" type="text" />

    <label>Public</label>
    <input name="public" type="checkbox"/>

    <label>Content</label>
    <textarea name="content"></textarea>

    <input type="submit" value="--> Submit">

</form>
</body>
</html>
