<!DOCTYPE HTML>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        * {
            font-size: 25px;
            font-family: "Courier New";
        }
        .displayBlock {
            display: block;
        }
        .displayInline {
            display: inline;
        }
        .col_300 {
            width: 200px;
            display: inline-block;
        }
        #content {
            width: 500px;
            height: 300px;
        }
    </style>

    <script>
    </script>

</head>
<body>
<form action="create" onsubmit="return validate()" method="post">

    <section layout:fragment="content">
        <table th:if="${not #lists.isEmpty(articles)}">
            <tr>
                <td>Delete</td>
                <td>Title</td>
                <td>Created</td>
            </tr>
            <tr th:each="article : ${articles}">
                <td><input type="checkbox" name="id" th:value="${article.id}"></td>
                <td><a th:href="'show?id=' + ${article.id}" th:text="${article.title}" /></td>
                <td th:text="${#temporals.format(article.created, 'dd-MM-yyyy HH:mm:ss')}">Created</td>
            </tr>
        </table>

        <p th:if="${#lists.isEmpty(articles)}">There is no article saved!</p>

        <a href="/article/create">CREATE</a>

    </section>
</form>
</body>
</html>
