<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        * {
            font-size: 25px;
            font-family: "Courier New";
        }
        .displayBlock {
            display: block;
        }
        .displayInline {
            display: inline;
        }
        .col_300 {
            width: 200px;
            display: inline-block;
        }
        #content {
            width: 500px;
            height: 300px;
        }
    </style>

    <script>

        function validate() {
            var valid = true;

            if (!$("select[name='languageId']").val()) {
                $("#languageId_msg").text("Language cannot be empty!");
                valid = false;
            }
            else {
                $("#languageId_msg").empty();
            }

            if (!$("input[name='title']").val()) {
                $("#title_msg").text("Title cannot be empty!");
                valid = false;
            }
            else {
                $("#title_msg").empty();
            }

            if (!$("textarea[name='content']").val()) {
                $("#content_msg").text("Content cannot be empty!");
                valid = false;
            }
            else {
                $("#content_msg").empty();
            }

            console.log("Tried to validate 2! " + valid);
            return valid;
        }



    </script>

</head>
<body>
<form action="create" onsubmit="return validate()" method="post">
<table>
    <tr>
        <td>Delete</td>
        <td>Title</td>
        <td>Created</td>
    </tr>
    <tr th:each="article : ${article}">
        <td><input type="checkbox" name="id" th:value="${article.id}"></td>
        <td th:text="${article.text}"></td>
        <td th:text="${#dates.format(article.created, 'dd-MM-yyyy HH:mm:ss')}">Created</td>
    </tr>
</table>
</form>
</body>
</html>
