<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{/layout/default}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        * {
            font-size: 25px;
            font-family: "Courier New";
        }
        .displayBlock {
            display: block;
        }
        .displayInline {
            display: inline;
        }
        .col_300 {
            width: 200px;
            display: inline-block;
        }
        #content {
            width: 500px;
            height: 300px;
        }
    </style>

    <script>
    </script>

</head>
<body>
<form action="create" onsubmit="return validate()" method="post">

<table layout:fragment="content">
    <tr>
        <td>Delete</td>
        <td>Title</td>
        <td>Created</td>
    </tr>
    <tr th:each="article : ${articles}">
        <td><input type="checkbox" name="id" th:value="${article.id}"></td>
        <td><a th:href="'show?id=' + ${article.id}" th:text="${article.title}" /></td>
        <td th:text="${#temporals.format(article.created, 'dd-MM-yyyy HH:mm:ss')}">Created</td>
    </tr>
</table>
</form>
</body>
</html>
