<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>LAYOUT GERAL</title>

        <style>
            pre {
            overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
            }
        </style>

    </head>
    <body>
    MENU <a href="/article/list">Article</a>

        <div class="container">

            <section layout:fragment="content">
                This should be the template.
            </section>
        </div>

    </body>
</html>